---
- name: Deploy llms if requested
  when: deploy_llms | bool
  block:
    - name: Check if home lab Docker network exists
      community.docker.docker_network_info:
        name: "{{ home_lab_network_name }}"
      register: network_info

    - name: Fail if home lab network doesn't exist
      ansible.builtin.fail:
        msg: "Required Docker network '{{ home_lab_network_name }}' does not exist. Please create the network first through the base_network_watchtower role."
      when: not network_info.exists

    - name: Check if proxy Docker network exists
      community.docker.docker_network_info:
        name: "{{ proxy_network_name }}"
      register: proxy_network_info

    - name: Fail if home lab network doesn't exist
      ansible.builtin.fail:
        msg: "Required Docker network '{{ proxy_network_name }}' does not exist. Please create the network first through the core_infrastructure role."
      when: not proxy_network_info.exists

    - name: Create llms directory
      ansible.builtin.file:
        path: /tmp/llms
        state: directory

    - name: Include ollama tasks
      ansible.builtin.include_tasks: ollama.yml
      when: models_path | length > 0

    - name: Include searxng tasks
      ansible.builtin.include_tasks: searxng.yml
      when: searxng_config_volume | length > 0 and searxng_data_volume | length > 0 and searxng_redis_data_volume | length > 0 and searxng_domain_prefix | length > 0
            and searxng_redis_data_volume | length > 0 and searxng_domain_prefix | length > 0

    - name: Include tika tasks
      ansible.builtin.include_tasks: tika.yml
      when: tika_cpu_limit | length > 0 and tika_memory_limit | length > 0 and tika_domain_prefix | length > 0

    - name: Include qdrant tasks
      ansible.builtin.include_tasks: qdrant.yml
      when: qdrant_data_volume | length > 0 and qdrant_cpu_limit | length > 0 and qdrant_memory_limit | length > 0
    
    - name: Include openwebui tasks
      ansible.builtin.include_tasks: openwebui.yml
      when: openwebui_data_volume | length > 0 and openwebui_domain_prefix | length > 0


    - name: Delete llms related files
      ansible.builtin.file:
        path: /tmp/llms
        state: absent
      when: not debug_mode