---
services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    hostname: ollama
    restart: unless-stopped
    privileged: true
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    environment:
      - OLLAMA_VULKAN=1
      - OLLAMA_KEEP_ALIVE=5m
      - OLLAMA_FLASH_ATTENTION=1
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_HOST=0.0.0.0
      # Force AMD GPU via Vulkan
      - RENDER_DEVICE=/dev/dri/renderD128
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - {{ models_path }}:/root/.ollama
    group_add:
      - video
    networks:
      - {{ proxy_network_name }}

networks:
  {{ proxy_network_name }}:
    external: true
    

